/* app css stylesheet */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  padding-top: 20px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 90px;
  background-color: #f5f5f5;
}

.note-images {
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.notes {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.notes li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.note {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.note-thumbs {
  margin: 0;
  list-style: none;
}

ul.note-thumbs li {
/*  border: 1px solid black;*/
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.note-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.note-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

a.label-mousehover { color: white; }
a.label-mousehover .glyphicon { color: #428BCA; }
a.label-mousehover:hover { color: #428BCA; }
